<div class="container">
  <div *ngIf="data">
    <div class="row align-items-center mb-4">
      <div class="col">&nbsp;</div>
      <div class="col">
        <h1>{{data.display_name}}</h1>
        <div>Premier Gif posté : {{data.first_gif_time  | date:'dd/MM/yyyy à HH:mm:ss'}}</div>
        <div>Dernier Gif posté : {{data.last_gif_time  | date:'dd/MM/yyyy à HH:mm:ss'}}</div>
        <div>{{data.count_gifs}} Gifs postés</div>
        <div>{{data.countOriginalGifs}} Gifs originaux postés</div>
      </div>
      <div class="col">&nbsp;</div>
    </div>
  </div>
</div>
